@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;400;600 & family= Open+Sans:wght@400;500 & family= Oswald:wght@ 300;400;500 & display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:inter;

}
:root{
    --bg-cast:#BB6763;
    --bg-az:#1A4E69;
}
html,body{
 widht:100%;
 height:100vh;
}
body{
    background:white;
    color:var(--bg-az)
}
            /*--------------------------------*/
            /*-----------HEADER--------------*/
            /*-------------------------------*/
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    background:var(--bg-az);
    box-shadow: 0px 4px 90px 0px black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;


}
header figure{
    padding:10px;
    margin:10px;

}
header figure text{
    font-size:65px;
    background: url('../image/back.png'), lightgray 50% / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position:center;
    object-fit:cover;
}
header figure a{
 text-decoration:none;

}
header nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-right:40px;
gap:40px;

}
header nav ul{
 display:flex;
justify-content:space-between;
align-items:center;
gap:15px;
}
header nav ul li a{
 text-decoration:none;
 color:white;
 style-list:none;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 font-family: 'Inter', sans-serif;
 max-widht:100px;

}
header nav ul li{
 list-style:none;
transition:linear .4s;
}
            /*--------------------------------*/
            /*-----------MAIN-----------------*/
            /*-------------------------------*/

main{
 display:flex;
 justify-content:flex-start;
 align-center:center;
 flex-direction:column;
 margin-top:115px;
 background:yellow;
 width:100%;
 height:100vh;

}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
    border-radius:10px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-cast);   /* color of the tracking area */

 }
body::-webkit-scrollbar-thumb {
  background-color: var(--bg-cast);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--bg-az);  /* creates padding around scroll thumb */
}
            /*----------section inicio--------------*/
#inicio{
  width:100%;
  height:100vh;



}
#inicio p{
color: var(--bg-cast);
font-family: Inter;
font-size: 63px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 493px;
position:absolute;
top:300px;
left:100px;
text-shadow: 1px 1px 2px black,
    0 0 1em var(--bg-cast),
    0 0 0.2em var(--bg-cast);
 padding:25px;

}
#inicio img{
    border: 1px solid #000;
    border: 1px solid color(display-p3 0 0 0);
    background: url('../image/alunafeliz.png'), lightgray 50% / cover no-repeat;
    background-position:center;
    box-shadow: 0px 4px 90px 30px #BB6763 inset;
    box-shadow: 0px 4px 90px 30px color(display-p3 0.6902 0.4196 0.4) inset;
    filter: blur(2.5px);
    width:100%;
    height:100vh;
    background-attachment: fixed;

}



          /*-----------section quemsomos-------------------*/
#quemsomos{
 background:var(--bg-az);
 color:var(--bg-cast);
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding-top:50px;
  gap:30px;

}
#quemsomos div{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:30px;
  margin:30px;
}
#quemsomos div p{
color: #BB6763;
background:none;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-shadow: 1px 1px 2px black,
    0 0 1em var(--bg-cast),
    0 0 0.1em var(--bg-cast);

}

      /*-----------section quantosomos?-------------------*/
#quantossomos{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:row;
  width:100%,
  height:100vh;
}
#quantossomos div{
  margin-top:10px;

}
#quantossomos iframe{
 margin-top:10px;


}
#texto_3 {
 display:flex;
 align-self:flex-start;
 flex-direction:column;
 margin-left:30px;

}
#texto_3 div{
 width:300px;
 height:200px;
}
            /*--------------------------------*/
            /*-----------HOVER----------------*/
            /*-------------------------------*/
.dep:hover {
 border-bottom: 5px solid var(--bg-cast);
 font-weight:bold;
 padding-top:60px;
 transition:linear border-bottom:.4s;
 animation-name:top;
 animation-duration:1.8s;



}
.conta:hover{
  background:var(--bg-cast);
  border-radius:30px;
  color:var(--bg-az);
  width:100px;
  height:40px;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  animation-name:vis;
  animation-duration:1.8s;
  transition:ease border-radius:.4s;


}

            /*--------------------------------*/
            /*-----------ANIMACTION-----------*/
            /*-------------------------------*/
@keyframes vis{
    from {
        opacity:0.5;
        transform: translateX(10px);
    }
    to {
        opacity:1.0;
        transform: translateX(1px);
    }
}
@keyframes top{
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(-30px);
    }
}
