<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>IMAG</title>
</head>
<body>
<header>
    <figure>
        <text>
            <a href="#">IMAG</a>
        </text>
    </figure>
    <nav>
        <ul>
            <li class="dep"><a href="#inicio">Ínicio</a></li>
            <li class="dep"><a href="#quemsomos">Quem somos?</a></li>
            <li class="dep"><a href="#">Quantos somos?</a></li>
            <li class="dep"><a href="#">Onde nós estamos?</a></li>
            <li class="dep"><a href="#">Contactos</a></li>
        </ul>
        <ul>
            <li class="conta"><a  href="/templates/login">Entrar</a></li>
            <li class="conta"><a href="/templates/criar">Criar</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="inicio">
        <img src="../static/image/alunafeliz.png" alt="imagem da escola">
        <p>
          Instituto Médio de Gestão e Administração
        </p>

    </section>
    <section id="quemsomos">
        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error eveniet
            ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae sunt velit vero
            voluptate voluptates.
        </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p></div>
        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error eveniet
            ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae sunt velit vero
            voluptate voluptates.
        </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p></div>
    </section>
    <section id="quantossomos">
        <div id="texto_3">

            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores aut delectus, deserunt
                eaque laborum maiores molestiae provident sunt unde. Adipisci cupiditate dolorem inventore iste nulla.
                Omnis quas quibusdam sapiente.
            </div>
            <div>Adipisci dolor eligendi ex officia sint. Accusamus atque autem corporis cum cupiditate ea eaque, eius
                enim exercitationem illum in ipsa ipsum neque nobis numquam odio, provident quae quaerat quod
                voluptates?
            </div>

        </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1970.1530144856174!2d13.39925670884551!3d-9.035823285149013!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a52058711c6d4b3%3A0x41d835e6154f64f8!2sInstituto%20Medio%20de%20Administra%C3%A7%C3%A3o%20e%20Gestao!5e0!3m2!1spt-PT!2sao!4v1697736370034!5m2!1spt-PT!2sao" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div>
            <div>
                <input type="search" placeholder="pode procurar outros IMAG">
                <button>pesquisar</button>
            </div>
            <div>
                <ul>
                    <li>
                        <tag>
                            Viana
                        </tag>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <imags>
                            Instituto Médio de Gestão e Administração(IMAG) <b>5101</b>
                        </imags>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KH9SQTKGZ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KH9SQTKGZ1');
</script>
</body>
</html>