<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/criar.css">
    <title>IMAG | login</title>
</head>
<body>
    <button id="voltar">
        <a href="/">voltar</a>
    </button>
    <img src="../static/image/back.png" alt="foto de fundo">
    <div>
        <h1>Login</h1>
            <form action="/index.html/login" method="Post">
                <label class="label-ms" for="email">Email</label>
                <input class="input-ms" name="email-lg" type="email" required placeholder="digita o seu email">
                <label class="label-ms" for="passe">Password</label>
                <input class="input-ms" name="passe-lg" type="password" required placeholder="criar a sua password">
                <j>
                    <input id="chek"name="chek" type="checkbox">
                    <label for="chek">concorda com os nossos termos?</label>
                </j>
                <button id="sub" type="submit">Enviar</button>
                <t>Ainda não tens uma conta?<a href="/criar">clique aqui</a</t>
            </form>
    </div>
</body>
</html>
