<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/perguntas.css">
    <title>IMAG | PERGUNTAS</title>
</head>
<body>
<img src="../static/image/back.png" alt="foto de fundo">
<form action="/templates/criar/perguntas" method="POST">
    <h1> Bem vindo ao IMAG</h1>
  <div>

        <select>
                  <option name="aluno">
                      Aluno (a)
                  </option>
                  <option name="prof">
                        Professor (a)
                  </option>
                  <option name="sec">
                        Secretária (a)
                  </option>
                  <option name="dir">
                        Director (a)
                  </option>
                  <option name="f-l">
                        Funcionário (a) da limpeza
                  </option>
                  <option name="f-s">
                        Funcionário (a) da segurança

                  </option>
        </select>
        <h4>
              <t>Calma !</t>
              Só precisamos de fazer algumas perguntas e ter respostas suas!
        </h4>
  </div>
</form>
</body>
</html>