<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>IMAG</title>
</head>
<body>
<header>
    <figure>
        <text>
            <a href="#">IMAG</a>
        </text>
    </figure>
    <nav>
        <ul>
            <li class="dep"><a href="#inicio">Ínicio</a></li>
            <li class="dep"><a href="#quemsomos">Quem somos?</a></li>
            <li class="dep"><a href="#">Quantos somos?</a></li>
            <li class="dep"><a href="#">Onde nós estamos?</a></li>
            <li class="dep"><a href="#">Contactos</a></li>
        </ul>
        <ul>
            <li class="conta"><a  href="#">Entrar</a></li>
            <li class="conta"><a href="#">Criar</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="inicio">
        <img src="../static/image/alunafeliz.png" alt="imagem da escola">
        <p>
          Instituto Médio de Gestão e Administração
        </p>

    </section>
    <section id="quemsomos">
        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error eveniet
            ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae sunt velit vero
            voluptate voluptates.
        </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p></div>
        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error eveniet
            ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae sunt velit vero
            voluptate voluptates.
        </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus doloremque enim error
                eveniet ipsa ipsam, itaque iusto molestias mollitia obcaecati officia quae reprehenderit repudiandae
                sunt velit vero voluptate voluptates.
            </p></div>
    </section>

</main>


</body>
</html>